# Exercise 1

Related Notes:
- Chapter_01_Data_Types
- Chapter_02_Programming_Constructs

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/Exercises/Exercise-01-Input-For-While.ipynb)

# Exercise 1.1 Unit Converter
 
Write a program that helps the user to convert a given quantity from one unit of (distance, area or volume) measurement to another. 
 
The problem: 
-	Request a quantity from the user. 
-	Have the user specify if the quantity is a `length`, `area` or `volume`.
-	Have the user select the base unit of measurement from the following list: 
    - `mm`, 
    - `cm`, 
    - `m`, or 
    - `km`. 
-	Then have the user select the desired base unit of measurement that the given quantity should be converted to. 
-	Print out converted quantity (including the new unit of measurement). 
 
Example interaction: 

>Input a quantity: 10 <br>
>Select either length, area or volume: area <br>
>Select the base unit of measurement (m, cm, m, km) : m <br>
>Select which base unit of measurement to convert to (mm, cm, m, km) : cm <br>
>10 m^2 = 100000 cm^2

In [1]:
acceptableUnits = ["mm", "cm", "m", "km"]
quantity = 0

def convert_length(value, original, new) -> str:
    conversion_factor = {'mm':0.001, 'cm':0.01, 'm':1, 'km':1000}
    return f"{value} {original} = {value * conversion_factor[original] / conversion_factor[new]} {new}"

def convert_area(value, original, new) -> str:
    conversion_factor = {'mm':0.000001, 'cm':0.0001, 'm':1, 'km':1000000}
    return f"{value} {original}^2 = {value * conversion_factor[original] / conversion_factor[new]} {new}^2"

def convert_volume(value, original, new) -> str:
    conversion_factor = {'mm':0.000000001, 'cm':0.000001, 'm':1, 'km':1000000000}
    return f"{value} {original}^3 = {value * conversion_factor[original] / conversion_factor[new]} {new}^3"


while True:
    try:
        quantity = float(input("Input a quantity: "))
        break
    except ValueError:
        print("Invalid quantity!")
        continue

while True:
    unit = input("Select either length, area or volume: ")
    if unit in ["length", "area", "volume"]:
        break
    else:
        print("Invalid input!")
 
while True:
    originalUnit = input("Select the base unit of measurement (mm, cm, m, km): ")
    if originalUnit in acceptableUnits:
        break
    else:
        print("Invalid unit!")

while True:
    newUnit = input("Select which base unit of measurement to convert to (mm, cm, m, km): ")
    if newUnit in acceptableUnits:
        break
    else:
        print("Invalid unit!")

if unit == "length":
    print(convert_length(quantity, originalUnit, newUnit))
elif unit == "area":
    print(convert_area(quantity, originalUnit, newUnit))
else:
    print(convert_volume(quantity, originalUnit, newUnit))

Invalid input!
Invalid input!
Invalid input!
Invalid input!
3.0 cm = 0.03 m

# Exercise 1.2

In mathematics, an **arithmetic sequence** is a sequence of real numbers
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$, called the **common difference** and $n\geq 1$.

For example, the sequence $2,5,8,11,14,\dots$ is an arithmetic sequence with first term $2$ and common difference $3$.

Write a program to generate the first $n$ terms of an arithmetic sequence with a user defined first term $a$ and common difference $d$.

The problem: 
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input from the user for the number of terms.  Let us denote this input as `number_of_terms`.
- Print out the sequence up to the $n$th term.

Example interaction: 

>Please input the first term in the arithmetic sequence:<br>
>2<br>
>Please input the common difference:<br>
>3<br>
>Please input the number of terms:<br>
>5<br>
>The first 5 terms of the arithmetic sequence are:<br>
>2<br>
>5<br>
>8<br>
>11<br>
>14<br>

In [1]:
first_term = int(input("Enter the first term of the sequence: "))
common_difference = int(input("Enter the common difference of the sequence: "))
number_of_terms = int(input("Enter the number of terms in the sequence: "))

print(f"The first {number_of_terms} terms of the sequence are:")
for i in range(number_of_terms):
    print(first_term + i * common_difference)

The first 10 terms of the sequence are:
3
24
45
66
87
108
129
150
171
192

# Exercise 1.3

Given an arithmetic sequence with first term $a$ and common difference $d$.

Write a program that:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input from the user for the index for the term in the sequence.  Let us denote this input as `n`.
- Print out the $n$th term in the sequence.
- Print out the sum of the first $n$ terms in the sequence.

Example interaction: 

>Please input the first term in the arithmetic sequence:<br>
>2<br>
>Please input the common difference:<br>
>3<br>
>Please input the index :<br>
>5<br>
>The 5th term in the sequence is:<br>
>14<br>
>The sum of the first 5 terms in the sequence is:<br>
>40<br>

In [10]:
first_term = int(input("Enter the first term of the sequence: "))
common_difference = int(input("Enter the common difference of the sequence: "))
n = int(input("Enter the number of terms in the sequence: "))

print(f"The {n}th term in the sequence is:")
print(first_term + (n - 1) * common_difference)

print(f"The sum of the first {n} terms in the sequence is:")
print((2 * first_term + (n - 1) * common_difference) * n // 2)

The 43th term in the sequence is:
13150
The sum of the first 43 terms in the sequence is:
282811

# Exercise 1.4

An arithmetic sequence $u_1, u_2, u_3, \cdots$ is defined by $u_r=3r-1$ for $r\in \mathbb{Z}^{+}$. Find the least value of $n$ such that $u_3+u_6+u_9+\cdots+u_n$ exceeds $1700$, where $n$ is a multiple of 3.

In [1]:
def calculate_u(n):
    return 3 * n - 1

# Add all the values of u that are multiples of 3
sum = 0
n = 1
while True:
    if n % 3 == 0:
        sum += calculate_u(n)
    if sum > 1700:
        print(n)
        break
    n += 1

60

# Exercise 1.5 2012/GCE A-Level/P2/Q4(i) H2 Mathematics

On 1 January 2001 Mrs $A$ put &#36;100 into a bank account, and on the first day of each subsequent month she put in &#36;10 more than in the previous month. Thus on 1 February she put &#36;110 into the account and on 1 March she put &#36;120 into the account, and so on. The account pays no interest.

On what date did the value of Mrs $A$'s account first become greater than &#36;5000?

In [62]:

def calculate_value(month):
    return 100 + 10 * (month - 1)

LARGEST_VALUE = 5000

total = 0
month = 1
date = {1: "January", 2: "February", 3: "March", 4: "April", 5: "May", 6: "June", 7: "July", 8: "August", 9: "September", 10: "October", 11: "November", 0: "December"}
while True:
    total += calculate_value(month)
    if total > LARGEST_VALUE:
        print(f"1 {date[month % 12]} {month // 12 + 2001}")
        print(f"Total: {total}")
        print(f"Month: {month}")
        break
    month += 1

1 December 2003
Total: 5160
Month: 24